.ListensIcon {
  display: flex;
  align-items: center;
  column-gap: 7px;
  flex-shrink: 0;
  color: var(--gray);
}

.icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.ListensText {
  font-size: 12px;
}
