

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  position: relative;
}

.input{
  width: 100%;
  background-color: var(--pmr);
  border-radius: 10px;
}

.label{
  margin-left: 5px;
}

.exclam_container{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 47%;
  right: 5px;
  transform: translateY(-50%, -50%);
}

.exclam{
  width: 100%;
  height: 100%;
}