

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  position: relative;
}

.input{
  width: 100%;
  background-color: var(--pmr);
  border-radius: 10px;
  padding-right: 41px;
}

.label{
  margin-left: 5px;
}


.showIcon {
  position: absolute;
  right: 40px;
  top: 47%; 
  cursor: pointer;
}

