:root {
  --height: 20px;
  --white: #ffffff;
  --black-lt: #333333;
}

.input_volume_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  width: 200px;
  overflow: hidden; /* Предотвращаем артефакты */
}

.volume_icon {
  width: 40px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.input_volume {
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: var(--height);
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
}

.input_volume[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--height);
  background: transparent;
  outline: none;
}

.input_volume[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--height);
  background: linear-gradient(
    to right,
    var(--black-lt) 0%,
    var(--black-lt) var(--value, 0%),
    var(--white) var(--value, 0%),
    var(--white) 100%
  );
  border-radius: 10px;
  border: none;
  position: relative;
  box-sizing: border-box; /* Устраняем возможные отступы */
}

.input_volume[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.input_volume[type='range']::-moz-range-track {
  width: 98%;
  height: var(--height);
  background: var(--white);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

.input_volume[type='range']::-moz-range-progress {
  background: var(--black-lt);
  height: var(--height); /* Гарантируем ту же высоту */
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /* Убедимся, что прогресс заполняет трек */
}

.input_volume[type='range']::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
  visibility: hidden;
  display: none;
}

@media (max-width: 700px) {
  .volume_icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 650px) {
  .volume_icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .input_volume_container {
    display: none;
  }
}