.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  border-radius: 10px;
  height: 300px;
  width: 500px;
  border: 1px solid var(--pmr);
}

.main_container{
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 59%;
  text-align: center;
}

.text{
  white-space: pre-wrap;
}
.x_container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
}

.btn_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.x_icon{
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  z-index: 1;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}
