

.container{
  width: 100%;
  height: 100%;
}

.input{
  display: none;
}

.label{
  padding: 10px;
  color: var(--text);
  background-color: var(--pmr);
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  text-align: center;
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.invalid{
  background-color: var(--black-lt);
  border: 2px solid var(--pmr);
}

.uploadPicture{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
