
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
}

.container_input_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_container{
    width: 570px;
}

.btn_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.not_found_container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 18px;
}