

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}

.mainInfo_container{
    display: flex;
    width: 100%;
    column-gap: 100px;
}

.inputs_container{
    /* width: 50%; */
    width: 88rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inputPhoto_container{
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ImageInput_container{
    width: 25rem;
    height: 30rem;
}

.nextBtn{
    border-radius: 10px;
    height: 45px;
}

.btn_container{
    width: 55px;
}

.SelectInput_container{
    width: 100%;
    height: 105px;
}