

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    row-gap: 20px;
}

.btn{
    padding: 15px 25px;
    color: var(--text);
    background-color: var(--pmr);
    border-radius: 10px;
    font-size: 16px;
}

.btn__container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.name_input_container,
.artist_input_container,
.textarea_container{
    width: 950px;
}


@media(max-width: 1000px) {
    .name_input_container,
    .artist_input_container,
    .textarea_container{
        width: calc(100% - 50px);
    }   
}
