

.container{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.input{
    display: none;
}

.img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.label{
    padding: 10px;
    /* background-color: var(--pmr); */
    color: var(--text);
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--pmr);
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
}

.input:checked + label {
    background-color: rgb(4, 255, 33);
}

@media(max-width:1040px){
    .label,
    .img{
        width: 45rem;
        height: 60rem;
        font-size: 14px;
    }

    .container{
        column-gap: 10px;
    }
}

@media(max-width:750px){
    .label,
    .img{
        width: 55rem;
        height: 70rem;
    }
}

@media(max-width:600px){
    .label,
    .img{
        width: 65rem;
        height: 80rem;
    }
}

@media(max-width:550px){
    .label,
    .img{
        width: 75rem;
        height: 90rem;
    }
}

@media(max-width:400px){
    .label,
    .img{
        width: 75rem;
        height: 90rem;
        font-size: 10px;
    }
}