
.noscroll{
    overflow: hidden;
}


.wrapper{
    padding: 40px 40px;
    background-color: var(--bg);
    min-height: calc(100vh - 80px);
    /* min-height: 100vh; */
    padding-bottom: 110px;
}

.scrollButton {
    position: fixed;
    bottom: 125px;
    right: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s;
    width: 55px;
    height: 55px;
}

.arrowUp{
    width: 100%;
    height: auto;
}

.scrollButton:hover {
    opacity: 0.8;
}

/* styles/PageTransition.module.css */
.page-enter {
    opacity: 0;
    transform: translateY(20px);
}
.page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.page-exit {
    opacity: 1;
    transform: translateY(0);
}
.page-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}

.noscroll {
    overflow: hidden;
}

.scrollButton-enter {
    opacity: 0;
    transform: scale(0.9);
}
.scrollButton-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}
.scrollButton-exit {
    opacity: 1;
    transform: scale(1);
}
.scrollButton-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.loader-enter {
    opacity: 0;
}
.loader-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.loader-exit {
    opacity: 1;
}
.loader-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
  

@media(max-width: 900px) {
    .wrapper{
        padding: 30px;
        padding-bottom: 110px;
    }
}

@media(max-width: 800px) {
    .wrapper{
        padding: 25px;
        padding-bottom: 110px;
    }
}

@media(max-width: 700px) {
    .wrapper{
        padding: 20px;
        padding-bottom: 110px;
    }
}

@media(max-width: 600px) {
    .wrapper{
        padding: 15px;
        padding-bottom: 110px;
    }
}

@media(max-width: 500px) {
    .wrapper{
        padding: 10px;
        padding-bottom: 110px;
    }
}