// ScrolBtn
.scrollButton_enter {
  opacity: 0;
  transform: scale(0.9);
}
.scrollButton_enter_active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}
.scrollButton_exit {
  opacity: 1;
  transform: scale(1);
}
.scrollButton_exit_active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}




.scrollButton {
  position: fixed;
  bottom: 125px;
  right: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s;
  width: 55px;
  height: 55px;

  &:hover {
    opacity: 0.8;
  }
}

.arrow_container{
  width: 50px;
  height: 50px;
}

.arrowUp{
  width: 100%;
  height: 100%;
}
