.btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--gray);
  transition:
    background-color 0.3s,
    border-color 0.3s;
  font-weight: 600;

  &:hover {
    color: var(--white);
  }

  &.s {
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 400;
  }

  &.m {
    padding: 10px 20px;
    font-size: 12px;
  }

  &.l {
    padding: 12px 24px;
    font-size: 14px;
  }

  &.filled {
    background-color: var(--prm);

    &:hover {
      background-color: #731404;
    }
  }

  &.outlined {
    background-color: transparent;
    border: 2px solid var(--prm);

    &:hover {
      background-color: var(--prm);
    }
  }

  &.loading {
    position: relative;
    pointer-events: none;
  }

  &:disabled {
    background-color: var(--black-lt);
  }
}

.loader {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  border: 6px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35)
    rgba(255, 255, 255, 0.5);
  animation: rotation 1s linear infinite;
  bottom: 4.5px;
  transform: translateY(-50%);

  &.s {
    width: 20px;
    height: 20px;
    border: 5px solid;
    bottom: 3.5px;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35)
      rgba(255, 255, 255, 0.5);
  }

  &.m {
    width: 25px;
    height: 25px;
  }

  &.l {
    width: 30px;
    height: 30px;
    border: 6px solid;
    bottom: 5.5px;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35)
      rgba(255, 255, 255, 0.5);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
