.TrackForm {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black-dk);
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.inputs_container {
  display: flex;
  row-gap: 5px;
  align-items: center;
  width: 100%;
}

.audio_container {
  display: flex;
  row-gap: 5px;
  width: 100%;
}

.textInputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

.InputAudio {
  display: none;
}

.inputAudio_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.LabelAudio {
  padding: 10px;
  color: var(--white);
  background-color: var(--prm);
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  flex-wrap: wrap;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(128, 0, 0, 0.33);
  }
}

.minusBtn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 10px;
}

.minusBtn_icon {
  width: 100%;
  height: 100%;
  color: #3e3e3e;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--prm);
  }
}

.empty_minusBtn {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-right: 10px;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: none;
  outline: none;
  max-height: 300px;
  padding-right: 28px;
  field-sizing: content;
  min-height: 3lh;
}

.index {
  padding: 10px;
  padding-right: 20px;
}

@media (max-width: 900px) {
  .TrackForm {
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
    row-gap: 8px;
  }

  .inputs_container {
    justify-content: start;
  }

  .audio_container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .LabelAudio {
    width: 100%;
  }

  .empty_minusBtn {
    width: 0;
    height: 0;
    flex-shrink: 0;
  }
}

@media (max-width: 700px) {
  .LabelAudio,
  .label_input {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .LabelAudio,
  .label_input {
    font-size: 11px;
  }
}
