

.container{
  width: 440px;
  max-height: calc(100vh - 160px);
  overflow: hidden;
  overflow-y: scroll;
}

.line {
  margin: 4px 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

/* Пример дополнительных стилей */
.line:nth-child(odd) {
  // background-color: var(--pmr);
}

.line:hover {
  color: var(--pmr);
}