

.container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}



.container{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.list{
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.cover{
  width: 200px;
  height: 200px;
  background-color: var(--textgray);
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
