

.route_item{
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: var(--bg);
  }
}

.route_text{
  font-size: 14px;
}

.route_item.active{
  outline: 1px solid var(--prm);
  background-color: var(--bg);
}

.icon_container{
  width: 20px;
  height: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

