.AlbumCoverInput {
  width: 50%;
  display: flex;
  justify-content: center;
}

.container {
  height: 225px;
  width: 225px;
}

@media (max-width: 600px) {
  .AlbumCoverInput {
    width: 100%;
  }

  .container {
    width: 190px;
    height: 190px;
  }
}
