


.name_container{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}

.name,
.artist{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist{
  color: var(--gray);
  cursor: pointer;

  &:hover{
    color: var(--white);
  }
}

.name{
  cursor: pointer;
  height: 18px;
  white-space: nowrap;

  &:hover{
    border-bottom: 1px solid var(--prm);
  }
}

@media(max-width:650px) {
  .name_container{
    font-size: 12px;
  }
}

@media(max-width:400px) {
  .name,
  .artist{
    width: 88px;
  }

  .name_container{
    font-size: 10px;
  }
}