.EntityList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.NotFound {
  color: var(--gray);
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}
