

.checkInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  height: 100%;
}

.selectedOptions{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}

.selectedOption{
  padding: 5px;
  border-radius: 10px;
  background-color: var(--prm);
  cursor: pointer;
}

.options{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.option{
  padding: 5px;
  border-radius: 10px;
  background-color: var(--black-lt);
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

@media(max-width: 700px) {
  .option_text,
  .option{
    font-size: 14px;
  }
}

@media(max-width: 550px) {
  .option_text,
  .option{
    font-size: 12px;
  }
}

@media(max-width: 450px) {
  .options{
    height: 120px;
  }
}




