
.circle{
    width: 40px;
    height: 40px;
    background: var(--bg);
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape{
    background: #FFFFFF;
    width: 50%;
    height: 50%;
    position: relative;
    /* transform: translate(-50%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
}

.stop {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: var(--bg);
}

.stop::before, .stop::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: var(--text);
}

.stop::before {
    left: 10%;
}

.stop::after {
    right: 10%;
}

.play{
    -webkit-clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
    clip-path: polygon(15% 0, 100% 50%, 100% 50%, 15% 100%);
    transition: all .2s ease;
}