

.input{
  border-radius: 10px;
  background-color: var(--black-lt);
  height: 40px;
  width: 100%;
  
  &::placeholder{
    color: var(--textgray);
  }
}


@media(max-width:400px){
  .input{
    height: 30px;
    font-size: 12px;
  }
}
