.nav_bar {
  display: flex;
  width: 100%;
  align-items: flex-end;
  column-gap: 10px;
}

.nav_item {
  color: var(--gray);
  padding: 8px 15px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: color 0.3s ease-in-out;
  border: 2px solid transparent;

  border-bottom: 2px solid var(--gray);

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--prm);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    color: var(--white);
    border-bottom-color: transparent;
    &::after {
      transform: scaleX(1);
    }
  }
}

.nav_item_active {
  color: var(--white);
  border: 2px solid var(--prm);

  &:hover {
    border-bottom-color: var(--prm);
    &::after {
      transform: scaleX(0);
    }
  }
}

@media (max-width: 768px) {
  .nav_item {
    font-size: 14px;
  }
}
