

.ArtistItem{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover{
    background-color: var(--black-lt);
  }
}

.cover{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;  
}

.cover_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
  border-radius: 50%;

  &:hover{
    filter: brightness(80%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.main_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--gray);
}

.name_container{
  display: flex;
  justify-content: center;
  font-size: 17px;
  p{
    max-width: 195  px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.likes  {
  flex-direction: row-reverse;
}

.cover,
.name_container{
  cursor: pointer;
}

.name{
  height: 20px;
}

.name:hover{
  border-bottom: 1px solid var(--prm);
}