

.comments {
  position: fixed;
  left: 200px;
  width: calc(100vw - 200px);
  height: calc(100vh - 15px);
  background-color: var(--bg);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
}

.commentsHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.selectFilter{
  width: fit-content;
}

.closeIcon {
  width: 30px;
  height: 30px;
}

.commentsList {
  height: calc(100vh - 180px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  overflow-y: auto;
}

.noComments{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px) {
  .comments{
    left: 0;
    width: 100vw;
  }
} 












