
.user_container{
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  width: 100%;
}

.user_avatar{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--gray);
  cursor: pointer;

  &:hover{
    transform: scale(1.02);
  }
}

.main_container{
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.name_container{
  color: var(--gray);
  cursor: pointer;

  &:hover{
    color: var(--white);
  }
}

.dots{
  cursor: pointer;
}

@media(max-width: 900px) {
  .main_container{
    column-gap: 10px;
  }
}

@media(max-width: 800px) {
  .user_container{
    justify-content: center;
  }

  .menu{
    display: none;
  }

  .name_container{
    display: none;
  }
}

@media(max-width: 600px) {
  .user_avatar{
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 500px) {
  .user_avatar{
    width: 30px;
    height: 30px;
  }
}