.user_container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  width: 100%;
}

.user_avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.main_container {
  display: grid;
  width: 100%;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
}

.name_container {
  color: var(--gray);
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  max-width: 125px;

  p {
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    color: var(--white);
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.dots {
  cursor: pointer;
}
