.container{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.right_container{
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.btn{
    padding: 15px 25px;
    color: var(--text);
    background-color: var(--pmr);
    border-radius: 10px;
    font-size: 14px;
}

.btns_container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.text{
    font-size: 16px;
}

.input{
    display: none;
}

.img{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.label{
    padding: 10px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--pmr);
    justify-content: center;
    align-items: center;
    background-color: var(--pmr);
    font-size: 14px;
}

.input:checked + label {
    background-color: rgb(4, 255, 33);
}

@media(max-width:520px){
    .btns_container{
        flex-direction: column;
        row-gap: 10px;
    }

    .img{
        width: 200px;
        height: 300px;
    }

    .right_container{
        height: 300px;
    }
}

@media(max-width: 420px){
    .label,
    .btn{
        font-size: 12px;
        padding: 10px 20px;
    }

    .text{
        font-size: 14px;
    }
}

@media(max-width:370px){
    .img{
        width: 170px;
        height: 270px;
    }

    .right_container{
        height: 270px;
    }
}