
.container{
    width: 100%;
    height: 100%;
}

.input{
    display: none;
}


.label{
    padding: 10px;
    color: var(--text);
    background-color: var(--gray);
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--pmr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
